<!doctype html>
<html lang="en" data-framework="angularjs">
    <head>
        <meta charset="utf-8">
        <title>Home Computer Security TODOs</title>
        <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
        <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
        <style>[ng-cloak] { display: none; }</style>
    </head>
    <body ng-app="securitytodos">
        <ng-view></ng-view>

        <script type="text/ng-template" id="securitytodos-index.html">
            <section id="todoapp">
                <header id="header">
                    <h1>Security TODOs</h1>
                    <form id="todo-form" ng-submit="addTodo()">
                        <input id="new-todo" placeholder="What needs to be done (to increase security)?" ng-model="newTodo" ng-disabled="saving" autofocus>
                    </form>
                </header>
                <section id="main" ng-show="todos.length" ng-cloak>
                    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                    <label for="toggle-all">Mark all as complete</label>
                    <ul id="todo-list">
                        <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                            <div class="view">
                                <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                                <label ng-dblclick="editTodo(todo)" title="{{todo.description}}">{{todo.title}}</label>
                                <button class="destroy" ng-click="removeTodo(todo)"></button>
                            </div>
                            <form ng-submit="saveEdits(todo, 'submit')">
                                <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
                            </form>
                        </li>
                    </ul>
                </section>
                <footer id="footer" ng-show="todos.length" ng-cloak>
                    <span id="todo-count"><strong>{{remainingCount}}</strong>
                        <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                    </span>
                    <ul id="filters">
                        <li>
                            <a ng-class="{selected: status == ''} " href="#/">All</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'active'}" href="#/active" ng-show="remainingCount">Active</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'completed'}" href="#/completed" ng-show="completedCount">Completed</a>
                        </li>
                        <li>
                            <a ng-class="{selected: level == 'beginner'}" href="#/beginner" ng-show="beginnerCount">Beginner</a>
                        </li>
                        <li>
                            <a ng-class="{selected: level == 'intermediate'}" href="#/intermediate" ng-show="intermediateCount">Intermediate</a>
                        </li>
                        <li>
                            <a ng-class="{selected: level == 'advanced'}" href="#/advanced" ng-show="advancedCount">Advanced</a>
                        </li>
                    </ul>
                    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
                </footer>
                <footer id="footer" ng-cloak>
                    <span id="todo-points"><strong>{{points}}</strong>
                        <ng-pluralize count="points" when="{ one: 'point', other: 'points' }"></ng-pluralize> earned!
                    </span>

                    <span id="add-suggested" ng-show="showAddAnyTodos">Add suggested TODOs to your list:</span>
                    <span id="add-suggested" ng-hide="showAddAnyTodos">Way to go - you've added all suggested TODOs!</span>

                    <button id="add-advanced" ng-click="addAdvancedTodos()" ng-show="showAddAdvancedTodos">Advanced</button>

                    <span id="add-advanced" ng-show="showAddIntermediateTodos && showAddAdvancedTodos">&nbsp;&nbsp;|&nbsp;&nbsp;</span>

                    <button id="add-intermediate" ng-click="addIntermediateTodos()" ng-show="showAddIntermediateTodos">Intermediate</button>

                    <span id="add-intermediate" ng-show="showAddBeginnerTodos && showAddIntermediateTodos">&nbsp;&nbsp;|&nbsp;&nbsp;</span>

                    <button id="add-beginner" ng-click="addBeginnerTodos()" ng-show="showAddBeginnerTodos">Beginner</button>

                </footer>
            </section>
            <footer id="info">
                <p>Suggested security-focused tasks added by Matt Corpos</p>
                <p>Underlying TODO list from <a href="http://todomvc.com">TodoMVC</a> (
                    <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
                    <a href="http://ericbidelman.com">Eric Bidelman</a>,
                    <a href="http://jacobmumm.com">Jacob Mumm</a> and
                    <a href="http://blog.igorminar.com">Igor Minar</a>
                    )
                </p>
            </footer>
        </script>
        <script src="node_modules/todomvc-common/base.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <script src="js/suggestedTodoData.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/todoCtrl.js"></script>
        <script src="js/services/todoStorage.js"></script>
        <script src="js/directives/todoFocus.js"></script>
        <script src="js/directives/todoEscape.js"></script>
    </body>
</html>
